<html>
<head>
    <title>IDE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="fas fa-code"></i> Code Editor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0" action="/editor" method="POST" id="htmlForm">
                    <textarea name="html" id="html"></textarea>
                    <textarea name="css" id="css"></textarea>
                    <textarea name="js" id="js"></textarea>
                    <!-- <input type="text" name="html" id="html"> -->
                    <!-- <input type="text" name="css" id="css"> -->
                    <!-- <input type="text" name="js" id="js"> -->
                    <input type="text" class="form-control mr-sm-2" name="filename" placeholder="Code Name">
                    <input type="submit" value="Save" class="btn btn-outline-success my-2 my-sm-0" id="button">
                </form>
            </div>
    </nav>
    <div class="all_editors">
        <div id="html-editor"></div>
        <div id="css-editor"></div>
        <div id="js-editor"></div>
    </div>
    <div id="result-block">
        <iframe id="result" frameborder="0" scrolling="yes"></iframe>
    </div>

    <script src="/scripts/script.js"></script>
</body>
</html>